<configuration>
    <springProfile name="!test">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
</configuration>